GRAFANA_ADMIN_PASSWORD="{{ vault_grafana_admin_password }}"
SMTP_HOST="{{ smtp_host }}"
SMTP_PORT="{{ smtp_port }}"
SMTP_USER="{{ smtp_user }}"
SMTP_PASSWORD="{{ vault_smtp_password }}"
SMTP_FROM="{{ smtp_from }}"
